/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: rgb(35, 38, 43);
    padding:0;
    margin:0;
    color:rgb(0, 0, 0)
}

    
    

nav{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, rgb(35, 38, 43));
    color:rgb(0, 0, 0);
    justify-content: center;
    
}



#logo{
    width: 500px;
    height: 158px;
}

.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    padding-bottom: 40px;
}
 
.responsive-iframe {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
}
    

.about{ 
    display:flex;
    background-color: rgb(57, 55, 55);
    flex-direction: row;
    padding: 30px 40px;
    color: rgb(220, 220, 220);
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
    border-radius: 50px;
    
}
.aboutinfo {

    text-align: center;
    padding-right: 20px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    line-height: 1.25;
    padding-bottom: 15px;
}

#aboutphoto{
    width: 18vh;
    border: solid;
    border-width: 8px;
    
    border-radius: 50px;
}

.photocontainer{
    flex-basis: 1;
    align-self: center;
    
}

@media (max-width: 800px){
    #logo {
        max-width: 300px;
        height: 114.81px;
       object-fit: contain;
        padding: 20px 0 0 0;
    }
    .about {
        flex-direction: column-reverse;
    }
    .photocontainer {
        align-self: center;
        padding-bottom: 20px;
    }
    #aboutphoto {
        width: 12vh;
        border-width: 4px;
        border-radius: 25px;
    
    }
    .aboutinfo {
        padding-right: 0px;
    }
}